<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpDesk Ticket System</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <h1>🎫 HelpDesk Ticket System</h1>
    </header>

    <div class="container">

        <div class="dashboard-cards">

    <div class="card">
        <h3>Total Tickets</h3>
        <h2 id="totalTickets">0</h2>
    </div>

    <div class="card">
        <h3>Open Tickets</h3>
        <h2 id="openTickets">0</h2>
    </div>

    <div class="card">
        <h3>In Progress</h3>
        <h2 id="inProgressTickets">0</h2>
    </div>

    <div class="card">
        <h3>Closed Tickets</h3>
        <h2 id="closedTickets">0</h2>
    </div>

</div>

        <div class="top-bar">
            <input
    type="text"
    id="searchInput"
    placeholder="Search Ticket..."
    onkeyup="searchTickets()"
/>

            <button onclick="window.location.href='/create-ticket'">
    Add Ticket
</button>
        </div>

        <table>

            <thead>

                <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Actions</th>
</tr>

            </thead>

            <tbody>

           

               <tbody id="ticketTable">

</tbody>
            

        </table>

    </div>

<script src="/script.js"></script>

</body>
</html>