<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpDesk Ticket System</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <h1>🎫 HelpDesk Ticket System</h1>
    </header>

    <div class="container">

        <div class="top-bar">
            <input
                type="text"
                placeholder="Search Ticket..."
            >

            <button>Add Ticket</button>
        </div>

        <table>

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                </tr>

            </thead>

            <tbody>

                <tr>
                    <td>1</td>
                    <td>Internet Issue</td>
                    <td>Open</td>
                    <td>High</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Printer Issue</td>
                    <td>Closed</td>
                    <td>Medium</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Email Login</td>
                    <td>In Progress</td>
                    <td>Low</td>
                </tr>

            </tbody>

        </table>

    </div>

</body>
</html>